body {
  margin: 10;
  font-family: 'Arial';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
  align-items: center;
  background: rgb(175, 235, 12);
}
.code {
  font-family: Arial;
}

.app{
  background: #acec77;
  padding: 30px;
  height: 50vh;
  
}
.todo-list{
  background: #494949;
  border-radius: 40px;
  padding: 30px;
  max-width: 100%;
  
}

.todo{
  background: rgb(126, 117, 117);
  box-shadow: 2px 2px 2px rgba(207, 21, 21, 0.15);
  padding: 10px 10px;
  font-size: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  border-collapse: collapse;
  display:flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(102, 117, 107);
  color: rgb(15, 15, 15);
 
}

h1{
  text-align: center;
  -webkit-text-stroke: 1px #282828;
   text-shadow: 0px 4px 4px #1f2502;
};

